#
 version 7.1.059, ESS 0322
#
 sysname BRAS-BNG
#
 ip pool PPPoE 100.64.0.1 100.64.0.254 
 ip pool PPPoE gateway 100.64.0.0 
#
 password-recovery enable
#
vlan 1
#
irf-port
#
interface Virtual-Template1
 description PPPoE-Server-A
 ppp authentication-mode chap domain system 
 ppp chap user user-test.local 
 ppp ipcp dns 8.8.8.8 
 remote address pool PPPoE 
#
interface NULL0
#
interface GigabitEthernet1/0
 port link-mode route
 description vMX-3-ge-0/0/2
 ip address 10.200.0.2 255.255.255.252
 nat outbound port-block-group 1
#
interface GigabitEthernet2/0
 port link-mode route
 description PPPoE
 pppoe-server bind virtual-template 1
#
interface GigabitEthernet3/0
 port link-mode route
#
interface GigabitEthernet4/0
 port link-mode route
#
 scheduler logfile size 16
#
line class aux
 user-role network-operator
#
line class console
 user-role network-admin
#
line class vty
 user-role network-operator
#
line aux 0
 authentication-mode none
 user-role network-admin
 user-role network-operator
#
line con 0
 user-role network-admin
#
line vty 0 63
 user-role network-operator
#
 ip route-static 0.0.0.0 0 10.200.0.1
#
domain system
#
 domain default enable system
#
role name level-0
 description Predefined level-0 role
#
role name level-1
 description Predefined level-1 role
#
role name level-2
 description Predefined level-2 role
#
role name level-3
 description Predefined level-3 role
#
role name level-4
 description Predefined level-4 role
#
role name level-5
 description Predefined level-5 role
#
role name level-6
 description Predefined level-6 role
#
role name level-7
 description Predefined level-7 role
#
role name level-8
 description Predefined level-8 role
#
role name level-9
 description Predefined level-9 role
#
role name level-10
 description Predefined level-10 role
#
role name level-11
 description Predefined level-11 role
#
role name level-12
 description Predefined level-12 role
#
role name level-13
 description Predefined level-13 role
#
role name level-14
 description Predefined level-14 role
#
user-group system
#
local-user user-test.local class network
 password cipher $c$3$99pCVk1Ny26pAHWrJEeS8dfu9RNIDusxDHTO
 service-type ppp
 authorization-attribute user-role network-operator
#
nat port-block-group 1
 local-ip-address 100.64.0.1 100.64.0.254
 global-ip-pool 10.201.0.1 10.201.0.1
 block-size 500
 port-range 10001 15000
#
return